.homeClass {
    margin: auto;
    max-width: 550px;
    padding-top: 20px;
}

.textCenter {
    text-align: center;
    font-weight: bold;
}

.autoScroll{
    overflow: auto;
    margin: 5px 0px;
}

.tableClass {
    width: 550px;
    display: flex;
    margin: 10px 0px;
}

.tableClassRow {
    width: 550px;
    display: flex;
    padding: 5px;
}

.titleHeader {
    width: 250px;
    text-align: center;
    cursor: pointer;
}

.titleRow {
    width: 250px;
}

.magnitudeHeader {
    width: 100px;
    text-align: center;
    cursor: pointer;
}

.magnitudeRow {
    width: 100px;
    text-align: center;
}

.timeHeader {
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.timeRow {
    width: 200px;
    text-align: center;
}